<h1>Setup a New Course</h1>

<p>
  To set up your new course with this tool, you must first create or own a
  GitHub Organization for the course with the proper name (i.e. UCSB-CS56-F16,
  or [University]-[CourseNum]-[Term]). Select that organization below in order
  to set it up as a course. By selecting an organization below and confirming
  the dialog, you are enabling this tool to have full access to that organization,
  including the repositories, memberships, issues, etc. Note that all actions
  that might alter the organization will be executed by a robot user that gets
  added to your organization as an owner once you set it up. Please leave this
  user as an owner, or else this tool might not work properly for your course.
</p>

<h4>Organizations:</h4>
<table class="table">
  <thead>
    <tr>
      <th>Organization Name (Your Role)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @memberships.each do |m| %>
      <tr id="org-<%= m.organization.id %>" data-id="<%= m.organization.id %>">
        <td>
          <a href="https://github.com/<%= m.organization.login %>"><%= m.organization.login %></a>
          (<%= m.role %>)
        </td>
        <td>
          <%= button_to "Select as Course",
                        course_set_org_path(org_name: m.organization.login),
                        method: :post, class: 'btn btn-sm btn-primary',
                        data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
